# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Documentation
# Ne pas ignorer le fichier de guide
!Frontend_Guide.md

# Fichiers temporaires
*.tmp
*.swp
.temp/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

